APP_NAME=RNOTSKY API
APP_ENV=production
DEBUG=false

DATABASE_URL=

JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30

FRONTEND_URL=https://rnotsky.com

CORS_ORIGINS=https://rnotsky.com

TRUSTED_HOSTS=rnotsky.com